html, body { width: 100%; height: 100%; }
.top-bar {
    width: 100%;
    height: 60px;
    background-color: #fff;
}
.logo {
    width: 200px;
    height: 60px;
    background-color: #f23422;
}
.main { width: 100%; }
.main-left, .main-right { height: 100%; }
.main-left { 
    width: 200px;
    background-color: #2F4056; 
}
.main-right { background-color: #ccc; }
.main-left dl dd a {
    text-align: center;
}
.top-bar .layui-nav {
    /* padding-right:  */
    background-color: #fff;
}
.top-bar .layui-nav .layui-nav-item a{ 
    color: #000; 
}
.top-bar .layui-nav .layui-nav-item a:hover {
    color: #000;
}
.top-bar .layui-nav .layui-nav-more {
    left: 3px;
    margin-left: -3px; 
}
.top-bar .layui-nav .layui-nav-item:nth-child(4) {
    width: 120px;
}
.top-bar .layui-nav .layui-nav-item:nth-child(4) a {
    padding: 0 0 0 20px !important;
}
.top-bar .layui-nav .layui-nav-item:nth-child(4) img {
    float: right;
    margin: 15px 0 0 0 !important;
}
.top-bar .layui-nav-child {
    text-align: center;
}
.top-bar .layui-nav .layui-nav-item:nth-child(4) .layui-nav-child dd a {
    padding: 0 !important;
}
.top-bar .layui-nav .layui-nav-more {
    border-color: #000 transparent transparent;
}
.top-bar .layui-nav .layui-nav-mored {
    border-color: transparent transparent  #000;
}
.top-bar .layui-nav-bar {
    display: none;
}
.cut-line-between {
    display: block;
    width: 1px;
    height: 20px;
    background-color: #ccc;
}
.cut-line {
    width: 20px;
}